<mat-toolbar>
    <span><mat-icon style="margin-right: 20px; margin-left: 10px;">assured_workload</mat-icon> Bienvenido a EDUCATECH</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu1"> <mat-icon>settings_accessibility</mat-icon> Personal</button>
    <mat-menu #menu1="matMenu">
        <button mat-menu-item routerLink="/personal/estudiantes"> <mat-icon>school</mat-icon> Estudiantes</button>
        <button mat-menu-item routerLink="/personal/docentes"> <mat-icon>hail</mat-icon> Docentes</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu2"> <mat-icon>foundation</mat-icon> Control Académico</button>
    <mat-menu #menu2="matMenu">
        <button mat-menu-item routerLink="/control-academico/sedes"> <mat-icon>apartment</mat-icon> Sedes</button>
        <button mat-menu-item routerLink="/control-academico/facultades"> <mat-icon>lan</mat-icon> Facultades</button>
        <button mat-menu-item routerLink="/control-academico/cursos"> <mat-icon>menu_book</mat-icon> Cursos</button>
        <button mat-menu-item routerLink="/control-academico/secciones"> <mat-icon>diversity_3</mat-icon> Secciones</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu3"> <mat-icon>bookmark_added</mat-icon> Control de Notas</button>
    <mat-menu #menu3="matMenu">
        <button mat-menu-item routerLink="/control-notas/sedes"> <mat-icon>fact_check</mat-icon> Actividades de Zona</button>
        <button mat-menu-item routerLink="/control-notas/facultades"> <mat-icon>workspace_premium</mat-icon> Calificaciones</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu4"><mat-icon>admin_panel_settings</mat-icon> Administración</button>
    <mat-menu #menu4="matMenu">
        <button mat-menu-item routerLink="/administracion/usuarios"> <mat-icon>group_add</mat-icon> Usuarios</button>
        <button mat-menu-item routerLink="/administracion/facultades"> <mat-icon>verified_user</mat-icon> Roles</button>
    </mat-menu>
    <span class="example-spacer"></span>
    <button routerLink="/auth/inicio-sesion" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>logout</mat-icon>
      </button>
</mat-toolbar>
<div class="container">
    <mat-toolbar color="accent">
        <span>Actualizar Facultad</span>
    </mat-toolbar>

    <mat-card style="margin-top: 10px">
        <form [formGroup]="form" #frmActualizar="ngForm" (ngSubmit)="actualizarFacultad(frmActualizar)">
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>ID</mat-label>
                        <input matInput autocomplete="off" formControlName="idFacultad">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="6">
                    <img src="./assets/img/facultad.jpg" width="250" height="250">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput autocomplete="off" formControlName="nombre">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button routerLink="/control-academico/facultades" mat-raised-button color="accent" style="margin-right: 20px">Volver</button>
                    <button type="submit" [disabled]="form.invalid" mat-raised-button color="warn">Actualizar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>